*{padding: 0px}

body{
	background-color: #02010a;
	font-family: 'Dancing Script';
}

img{box-shadow: 2px 2px #02010a}

#cabecera{
	background-color: #5b7989;
	border-radius: 10px 10px 0 0;
}

#cabecera h1{
	color: white;
	text-shadow: 2px 2px #02010a;
}

#cabecera ul{
	text-align: center;
}

#cabecera li, a{
	color: white;
	text-decoration: none;
	list-style: none;
	margin: 0 10px 0 10px;
	display: inline;
	font-size: 20px;
	text-align: center;
}

.Set-line-menu a{
	text-decoration: underline;
}

#imagen-central{
	background-color: #82c3a6;
	padding: 10px;
}

#imagen-central img{
	display: block;
	margin: auto;
	width: 90%;
}

#imagen-secundaria{
	background-color: #d5c75f;
	width: 100%;
}

/*-----------------*/
/*  Estilos Footer */
/*-----------------*/

#ID-footer{
	width: 100%;
	background-color: #C6d5c5;
	border-radius: 0 0 10px 10px;
}

#ID-footer ul, p{margin: 3% 0 3% 0}

#ID-footer a{
	color: black;
	text-align: left;
	margin: 0;
	font-size: 14px;
}

#ID-footer img{
	width: 15%;
	box-shadow: none;
}

#ID-footer p{text-align: left}

#ID-footer li{
	text-decoration: none;
	list-style: none;
	text-align: left;
}

#imagen-galeria{
	background-color: #d5c75f;
	padding: 10px;
	margin: auto;
}

#imagen-galeria img{
	display: inline-flex;
	margin: 1.5%;
	width: 30%;
}

/*------------------------*/
/*  Estilos Pie de imagen */
/*------------------------*/

.FigCaptionClass{
	text-align: center;
	width: 100%;
	font-size: 20px;
	text-decoration: underline;
	padding-bottom: 5px;
}

/*--------------------------------*/
/*  Filtros - Paysajes + Retratos */
/*--------------------------------*/
.BlurClass{filter: blur(10px)}
.GrayScaleClass{filter: grayscale(100%)}
.SepiaClass{filter: sepia(90%)}